<%- include("./header") %> 

 <div class="container py-5 mt-2">
    <form  action="/handleForm" method="POST" enctype="multipart/form-data" >
        <div class="form-group">
            <input name="name" placeholder="Enter Product Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <div class="form-group">
          <input name="price" placeholder="ADD Product price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <input name="total" placeholder="ADD Product quantity" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <input  name="description" placeholder="ADD Product description" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <input type="file" name="img" multiple class="form-control my-4" >
        </div>
      
     <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
     </div>
      </form>
 </div>







 <div class="container py-5">
 <div class="row">
   <% for( var i = 0; i < productContainer.length; i++ ) { %>
    <div class="col-md-4 mt-2"> 
      <div class="card h-100 h-100 m-auto">
      <img src="<%= productContainer[i].imgURL %> " class="card-img-top" alt="<%= productContainer[i].name %>">
      <div class="card-body  text-center">
        <h5 class="card-titl"><%= productContainer[i].name %> </h5>
        <p class="card-text article<%=i%>"><%= productContainer[i].description %></p>
        <p class="card-text">price:<%= productContainer[i].price %>.00EGP</p>
        <p class="card-text">total quantity:<%= productContainer[i].total %></p>
        <a class="btn btn-info"     href="/edit/<%= productContainer[i]._id %> ">Edit</a>
        <a class="btn btn-danger"   href="/delete/<%= productContainer[i]._id %> ">DELETE</a>
        <a class="btn btn-success"  href="/showmore/<%= productContainer[i]._id %> ">showmore</a>
      </div>
    </div>
  </div>
   <% } %>

 </div>
</div>
<p class="index d-none" ><%=i%></p>
<%- include("./footer") %> 

<script src="js/index.js"></script>
</body>
</html>